<!DOCTYPE html>
<html>
  <head>
    <title>Figure Dex</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    <%= javascript_pack_tag 'webapp' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
